body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(255, 145, 71);
    background-image: url(oceansunrise.jpg);
    background-size: cover, cover no-repeat;
    margin: 0px;

} 
.info-box {
    border: 4px solid;
    font-size: 1.2em;
    width: 1000px;
    height: 125px;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(255, 145, 71);
}

h1 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(238, 115, 33);
    font-size: 5.5em;
}
h2 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
}
img {
    height: 400px;
    margin-top: 50px;
    border: 20px solid rgb(255, 145, 71);
}
ul {
    list-style-type: disc;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    font-size: 1.5em;
}
hr {
    border: 1px solid black;
    width: 80%;
    margin: 20px auto;
}