body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(255, 145, 71);
    background-image: url(oceansunrise.jpg);
    background-size: cover, cover no-repeat;
    margin: 0px;

} 
.info-box {
    border: 4px solid;
    font-size: 1.2em;
    width: 1000px;
    height: 125px;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(255, 145, 71);
}

h1 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(238, 115, 33);
    font-size: 5.5em;
    -webkit-text-stroke: 0.5px black;
}
h2 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
    color: black;
    -webkit-text-stroke: 0.20px rgb(255, 115, 0);
}
h3 {
    font-size: 1.3em;
}
.shadow {
    font-size: large;
    color: black;
    text-shadow: 10px 5px 2px rgb(238, 115, 33);
}
img {
    height: 400px;
    margin-top: 50px;
    /*go to nathan's code for the box shadow*/
}
.two-color-shadow-border {
    box-shadow: 
        0 0 0 4px rgb(0, 0, 0),
        0 0 0 15px rgb(238, 115, 33);
}
ul {
    list-style-type: disc;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    text-align: left;
    font-size: 1.5em;
}
hr {
    border: 1px solid black;
    width: 35%;
    margin: 20px auto;
}